{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <center><h1>Вы успешно покинули систему</h1></center>
    <main class="main container">
        <center><a href="{% url 'index' %}">Перейти на главную страницу</a></center>
        <center><a href="{% url 'login' %}">Войти в систему</a></center>
    </main>
{% endblock %}